<?xml version="1.1" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>SwingBase Swing Moves Database - {{ move.defaultName }}</title>
	<meta name="keywords" content="swing dance" />
	<meta name="description" content="Database of swing moves" />
	<meta name="copyright" content="KludgeCo &copy; 2013" />
	<link rel="stylesheet" href="{% static 'movestore/swingbase.css' %}" type="text/css" media="all" title="Default styles" />
</head>
<body>

<h1>SwingBase</h1>

<h2>{{ move.defaultName }}</h2>

{% if move_sections %}
<ul>
	{% for section in move_sections %}
	<li>{{ section }}</li>
	{% endfor %}
</ul>
{% endif %}

</body>
</html>
